//Main.jsx
.section-about {
    background: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -30vh;

    @include respond(tab-port){
        padding: 20rem 0;
    }
}

//Section-Features
.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba(255, 251, 21, 0.1), 
        rgba(13, 9, 48, 0.9),
        rgba(4, 2, 24, 0.5) ), 
        url('../../assets//img//view3.jpg');
    background-size: cover;
    // transform: skewY(-7deg);
    margin-top: -15rem;

    clip-path: polygon(0 15%, 100% 0,100% 85%, 0 100%);
    // you can use clip-path OR skew, as you like.

    //select all section-features's direct child
    & > * {
        // transform: skewY(7deg);
    }

    @include respond(tab-port){
        padding: 10rem 0;
    }

}

//Section-Tours
.section-tours {
    background: $color-gray-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -11rem;

    @include respond(tab-port){
        padding: 20rem 0 10rem 0;
    }
}

//Section-Stories
.section-stories {
    padding: 15rem 0;
    position: relative;

    @include respond(tab-port){
        padding: 10rem 0;
    }
}

//Section-Booking
.section-book {
    padding: 15rem 0;
    background: linear-gradient(to right bottom, rgba($color-tertiary-light, .9), rgba($color-tertiary-dark, .9) );

    @include respond(tab-port){
        padding: 10rem 0;
    }
}